/* footer 태그 자체를 포지션 fixed로 아래에 고정시킴 */
footer {
  position: fixed;
  bottom: 0;
  /* 우리가 보는 화면의 100퍼센트를 채운다. */
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.footer-icons__desc {
  margin-top: 5px;
  font-weight: bold;
  transform: scale(0.8);
}

.footer-icons__img {
  width: 30px;
}
